PYNGOK_TOKEN  = "KEY PYNGOK"
databaseURL   = 'LINK DATABASE'
MQTT_SERVER   = "LINK SEVER" 
MQTT_PORT     = PORT                        
MQTT_USER     = "USERNAME"          
MQTT_PASSWORD = "PASSWORD"